body
    font:
        size: 14px
        family: "Open Sans", Arial, sans-serif
        weight: normal
        variant: normal
    line-height: 18px

a
    text-decoration: none
    &:hover
        text-decoration: underline
