.header
	margin-top: 10px
.header__top
	@extend %clear
.header__logo
	@extend %logo_s
	+ss(logo, $logo_map)
	float: left
	// padding-top: 70px
	// color: #000
	// padding-left: 10px
	// font-size: .9em
	// margin-bottom: 10px
	font-size: 0
.header__banner
	float: right
	margin-top: 5px

.header__nav
	@extend %clear, %cond
	display: block
	margin: 10px 0 0
	border-bottom: 3px solid $base
	font-size: 1.2em
	ul
		text-transform: uppercase
		background: #F3F3F3
		height: 35px
		li
			float: left
			padding: 10px 15px 7px
			a
				color: #000
				&:hover
					color: $hover
			&.is-active
				background: $base
				a
					color: #fff
.header__nav_category
	@extend %clear, %cond
	padding-top: 6px
	ul
		height: 30px
		float: left
		li
			padding: 0 5px
			&:first-child
				padding-left: 0
			a
				color: #7a7a7a
				&:hover
					color: $base
	
.header__subscribe
	float: right
.header__search
	float: right
	margin-right: 20px
	
	.input_search
		width: 0px
		border-bottom: 1px solid #aebac8
		padding-top: 4px
		vertical-align: top
		-webkit-transition: width .2s
		transition: width .2s
		&:hover,&:focus
			width: 150px
	&:hover>.input_search
		width: 150px

.icon
	@extend %icon
	@each $icon in search
		&._#{$icon}
			+ss($icon, $icons_map)


.subscribe
	@extend %icon
	background-color: #aebac8
	-webkit-transition: background-color .2s
	transition: background-color .2s
	border-radius: 50%
	margin-right: 2px
	&:hover
		background-color: $base
	@each $icon in tw, fb, email, rss, vk
		&._#{$icon}
			+ss($icon, $icons_map)
