
$base: #009ee7
$hover: #dd0000
$l_gray: #E0E0E0

$icons_map: sprite-map("icons/*.png", $spacing: 10px)
$logo_map: sprite-map("logo/*.png", $spacing: 10px)

%cond
	font-family: "Open Sans Condensed", "Open Sans", Arial, sans-serif

%bold
	font-family: "Open Sans Bold", "Open Sans", Arial, sans-serif

%sprite
	+sprite-bkg($icons_map)
%logo_s
	+sprite-bkg($logo_map)

%clear
	+clr()

%icon
	+sprite-bkg($icons_map)
	display: inline-block

%title
	@extend %cond
	border-bottom: 2px solid black
	padding-bottom: 3px
	margin-bottom: 5px
	font-size: 18px