@charset "UTF-8";
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

*, *:after, *:before { box-sizing: border-box; }

body { font-size: 14px; font-family: "Titillium Web", Arial, sans-serif; line-height: 1.1; text-align: center; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

video { width: auto; }

.nav li { display: inline-block; }

h3 { color: white; font-size: 22px; text-transform: uppercase; letter-spacing: 1.5px; }

.btn { text-transform: uppercase; background: white; padding: 24px 30px 20px; width: 290px; border-radius: 4px; box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5); font-weight: 600; font-size: 16px; }

.line { margin: 15px auto; display: block; width: 87px; height: 4px; opacity: 0.15; background-color: #000; }

.in { width: 1100px; margin: 0 auto; padding-top: 110px; padding-bottom: 120px; }

.services .icon, .team .contacts .icon, .skills .skill__percentage { position: relative; vertical-align: middle; display: inline-block; background: url('../img/sprites-sa963893e53.png') no-repeat; }

.services__text, .team__text, .skills__text, .portfolio__text, .review__text, .touch__text { font-size: 18px; font-weight: 600; line-height: 1.4; letter-spacing: 0.2px; }

.hero__h, .services__h, .team__h, .skills__h, .portfolio__h, .review__h, .touch__h { color: #f7f2ea; font-size: 42px; font-weight: bold; text-transform: uppercase; letter-spacing: 3px; }

.team .team__item .item__h, .skills .skill__h, .portfolio .portfolio__item h4 { color: white; font-size: 23px; text-transform: uppercase; letter-spacing: 1.5px; }

.header { background: #864f9c; }
.header .in { padding-top: 55px; padding-left: 44px; padding-bottom: 25px; *zoom: 1; vertical-align: middle; }
.header .in:after, .header .in:before { content: " "; display: table; clear: both; }
.header__logo { background: url('../img/sprites-sa963893e53.png') 0 -846px; width: 117px; height: 37px; color: transparent; font-size: 0px; font-family: a; line-height: 0; float: left; }

.tab { margin-top: 10px; margin-right: 10px; float: right; }
.tab li { padding: 0 5px; }
.tab a { vertical-align: middle; padding: 5px 15px; color: white; font-size: 16px; text-transform: uppercase; text-decoration: none; }
.tab a:hover { background: #633a79; border-radius: 4px; }

.hero { background: #864f9c; }
.hero__h { text-transform: none; letter-spacing: normal; }
.hero .btn._orange { margin-top: 60px; margin-bottom: 25px; background: #eb7d4b; box-shadow: 0px 4px 0px rgba(235, 125, 75, 0.5); color: white; }
.hero .btn._orange:hover { background: #e86c34; }

.services { background: #16c2a3; }
.services__h { margin-bottom: 5px; }
.services__text { margin-top: 15px; color: white; }
.services .icon._branding { background: url('../img/sprites-sa963893e53.png') 0 0; width: 159px; height: 134px; }
.services .icon._design { background: url('../img/sprites-sa963893e53.png') 0 -314px; width: 159px; height: 134px; }
.services .icon._develop { background: url('../img/sprites-sa963893e53.png') 0 -458px; width: 161px; height: 134px; }
.services .icon._rocket { background: url('../img/sprites-sa963893e53.png') 0 -893px; width: 159px; height: 134px; }
.services__list { margin-top: 80px; }
.services__list .service__h { color: white; margin-top: 50px; }
.services__list .service__text { color: white; font-size: 16px; padding: 10px 20px; line-height: 1.8; }

.team { background: #e7f1f8; }
.team__h { color: #3c4660; margin-bottom: 5px; }
.team__text { color: #3c4660; margin-top: 15px; }
.team .team__item { margin-top: 80px; }
.team .team__item .item__img { border-radius: 50%; width: 200px; height: 200px; }
.team .team__item .item__h { color: #3c4660; margin-top: 30px; }
.team .team__item .item__function { color: #30b9e6; font-size: 17px; margin-top: 10px; font-weight: 400; }
.team .team__item .item__text { font-size: 16px; padding: 15px 20px; line-height: 1.5; }
.team .contacts a { border-radius: 50%; background: #bdd1df; width: 32px; height: 32px; display: inline-block; vertical-align: middle; line-height: 32px; padding-top: 1px; }
.team .contacts a:hover { background: #30b9e6; }
.team .contacts .icon { vertical-align: initial; }
.team .contacts .icon._facebook { background-position: 0 -624px; width: 8px; height: 16px; }
.team .contacts .icon._twitter { background-position: 0 -1037px; width: 17px; height: 14px; }
.team .contacts .icon._email { background-position: 0 -602px; width: 16px; height: 12px; }
.team .contacts .icon._linkedin { background-position: 0 -820px; width: 16px; height: 16px; }

.skills__h { color: #3b4761; }
.skills__text { color: #3b4761; }
.skills .skills__list { margin-top: 80px; }
.skills .skill__percentage { margin-bottom: 30px; line-height: 160px; font-size: 43px; color: #3b4761; }
.skills .skill__percentage._web { background-position: 0 -1231px; width: 160px; height: 160px; }
.skills .skill__percentage._css { background-position: 0 -144px; width: 160px; height: 160px; }
.skills .skill__percentage._graphic { background-position: 0 -650px; width: 160px; height: 160px; }
.skills .skill__percentage._ui { background-position: 0 -1061px; width: 160px; height: 160px; }
.skills .skill__h { color: #3b4761; }

.portfolio { background: #fd9; }
.portfolio__h { color: #393939; }
.portfolio__text { margin-bottom: 50px; }
.portfolio__item { padding: 30px 10px; }
.portfolio .portfolio__list { margin-top: 30px; }
.portfolio .portfolio__item { text-decoration: none; }
.portfolio .portfolio__item h4 { color: #393939; font-size: 1.2em; font-weight: 400; letter-spacing: 0.8px; margin-top: 20px; }
.portfolio .tab { display: block; float: none; height: 30px; }
.portfolio .tab a { color: #393939; font-size: 19px; padding: 5px 23px; background: rgba(0, 0, 0, 0.08); height: 100%; border-radius: 4px; }
.portfolio .tab a:hover { background: rgba(255, 255, 255, 0.5); }
.portfolio .tab li.is_active > a { background: white; }
.portfolio .btn._green { margin-top: 60px; margin-bottom: 25px; background: #17c1a3; box-shadow: 0px 4px 0px rgba(20, 170, 144, 0.9); color: white; }
.portfolio .btn._green:hover { background: #14aa90; }

.review { background: #d74580; }
.review__text { color: white; }
.review__img { border-radius: 50%; margin-right: 40px; display: table-cell; }
.review__list { margin-top: 50px; }
.review__item { margin-top: 30px; margin-bottom: 30px; display: table; border-collapse: separate; text-align: left; color: white; }
.review__item .blockquote { display: table-cell; vertical-align: middle; }
.review__item blockquote { font-style: italic; padding-top: 5px; padding-right: 60px; line-height: 1.5; font-size: 16px; quotes: "“" "”" "‘" "’"; }
.review__item blockquote:before { content: open-quote; }
.review__item blockquote:after { content: close-quote; }
.review .item__h { margin-top: 20px; }
.review .item__function { color: #fd9; font-size: 14px; margin-top: 5px; font-weight: 400; }

.touch { background: #3c5399; }
.touch__text { color: white; }
.touch__form { margin: 50px 120px 0 120px; }
.touch__form .form__group { margin-bottom: 30px; }
.touch__form .form__group.l > div { padding: 0 15px; }
.touch__form .form__group.l > div:last-child { padding-right: 0; }
.touch__form .form__group.l > div:first-child { padding-left: 0; }
.touch__form .input { width: 100%; font-family: "Titillium Web", Arial, sans-serif; background: rgba(0, 0, 0, 0.15); border: 0; border-radius: 4px; padding: 10px 20px; font-size: 16px; color: white; }
.touch__form .input::-webkit-input-placeholder { color: white; }
.touch__form .input::-webkit-input-placeholder:after { content: " *"; color: red; }
.touch .btn._blue { margin-top: 30px; margin-bottom: 25px; background: #2fb9e7; box-shadow: 0px 4px 0px rgba(47, 185, 231, 0.5); color: white; }
.touch .btn._blue:hover { background: #1ab0e2; }

.footer { background: #334b8e; }
.footer .in { padding: 40px 0; }
.footer a { color: white; font-size: 22px; margin: auto 20px; }
.footer a:hover { color: #30bae7; text-decoration: none; }

.l .col-1-4, .l .col-1-2 { float: left; }

.l { *zoom: 1; }
.l:after, .l:before { content: " "; display: table; clear: both; }
.l .col-1-4 { width: 25%; }
.l .col-1-2 { width: 50%; }
