/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

*, *:after, *:before { box-sizing: border-box; }

.header__nav, .header__nav_category { font-family: "Open Sans Condensed", "Open Sans", Arial, sans-serif; }

.header__logo { background: url('../img/sprite-sd4eb914e51.png') no-repeat; }

.header__top, .header__nav, .header__nav_category { *zoom: 1; }
.header__top:after, .header__nav:after, .header__nav_category:after, .header__top:before, .header__nav:before, .header__nav_category:before { content: " "; display: table; clear: both; }

body { font-size: 14px; font-family: "Open Sans", Arial, sans-serif; font-weight: normal; font-variant: normal; line-height: 18px; }

a { text-decoration: none; }

.out { width: 1140px; margin: 0 auto; }

.nav_inline li { display: inline-block; }

._right { float: right !important; }

.header { margin-top: 10px; }

.header__logo { background-position: 0 -40px; width: 281px; height: 74px; float: left; font-size: 0; }

.header__banner { float: right; margin-top: 5px; }

.header__nav { display: block; margin: 10px 0 0; border-bottom: 3px solid #009ee7; font-size: 1.2em; }
.header__nav ul { text-transform: uppercase; background: #F3F3F3; height: 35px; }
.header__nav ul li { float: left; padding: 10px 15px 7px; }
.header__nav ul li a { color: #000; }
.header__nav ul li a:hover { color: #dd0000; }
.header__nav ul li.is-active { background: #009ee7; }
.header__nav ul li.is-active a { color: #fff; }

.header__nav_category { padding-top: 6px; }
.header__nav_category ul { height: 30px; float: left; }
.header__nav_category ul li { padding: 0 5px; }
.header__nav_category ul li a { color: #7a7a7a; }
.header__nav_category ul li a:hover { color: #009ee7; }

.header__subscribe { float: right; }

.header__search { float: right; }

.l .c-1-4, .l .c-1-2, .l .c-1 { float: left; padding-left: 15px; padding-right: 15px; }

.l { *zoom: 1; margin-left: -15px; margin-right: -15px; }
.l:after, .l:before { content: " "; display: table; clear: both; }
.l .c-1-4 { width: 25%; }
.l .c-1-2 { width: 50%; }
.l .c-1 { width: 100%; }
